# Web Server
flask>=3.0.0
flask-cors>=4.0.0
gunicorn>=21.2.0

# Updated OCR Engine (Stable)
paddlepaddle==3.0.0
paddleocr>=2.7.0

# Image & Buffer Handling
numpy<2.0.0
opencv-python-headless>=4.8.0
Pillow>=10.0.0

# Utilities
python-multipart
